.logo {
  display: flex;
  flex-direction: row;
  width: 186px;
  height: 32px;
  align-items: center;

  .logoMark {
    margin-right: 5px;
  }

  .logoHeader {
    font-size: 26px;
    color: #17191b;
    line-height: 60px;
  }
}

@media (max-width: 320px) {
  .logo {
    width: 127.59px;
    height: 22px;
    .logoMark {
      width: 26.5px;
      height: 21px;
    }

    .logoHeader {
      font-size: 17px;
      line-height: 17px;
    }
  }
}
