.root {
  padding: 45.5px 112px 79.5px 112px;
  background-image: url('../../../../images/maskGroup.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.investorsHeader {
  text-align: center;
  height: 62px;
  left: 295px;
  top: 79px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
  letter-spacing: 0.01em;

  /* Rich Blue Black */
  color: #002240;
}

.investors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.invBox {
  margin: 33.5px 40px;
  width: 528px;
  height: 283px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .root {
    padding: 22px 66px 0px 66px;
  }

  .investorsHeader {
    width: 458.77px;
    height: 34px;
    font-size: 31.2674px;
    line-height: 33px;
    margin: 0 auto;
  }

  .invBox {
    width: 272px;
    height: 145.79px;
    margin: 16px 20px;
  }

  .invLogo {
    max-width: 70%;
    height: auto;
  }
}
