.root {
  padding: 39px 64px;
}

.future {
  height: 398.53px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* Call to action / Blue */
  background: #329dfa;
  border-radius: 5px;
}

.futureHeader {
  width: 1198px;
  height: 74px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  margin: 0 0 17px 0;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.futureButton1,
.futureButton2 {
  width: 272px;
  height: 62px;
  background: #ffffff;
  border: 1px solid #ffffff;
  mix-blend-mode: normal;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  /* Rich Blue Black */
  color: #002240;

  /* Shadow / Button */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.futureButton2 {
  border: 1px solid #ffffff;
  background: #329dfa;
  color: #ffffff;
  margin-left: 29px;
}
