.root {
  padding: 80px 118px 70px 118px;
}

.cultureHeader {
  height: 62px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
  letter-spacing: -0.01em;
  text-align: center;
  width: 100%;
  margin: 0 auto;

  /* Rich Blue Black */
  color: #002240;
}

.middleP {
  height: 59px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.01em;
  font-feature-settings: 'kern' off;
  margin-bottom: 53px;

  /* Duck Egg Blue */
  color: #537089;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .column {
    width: 354px;
    height: 330px;
    margin: 0 40px;
  }

  .aPerson {
    width: 80px;
    height: 80px;
  }

  .cultureHeader2 {
    height: 42px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 34px;

    /* Rich Blue Black */
    color: #002240;
  }

  .cultureP {
    height: 121px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;

    /* Duck Egg Blue */
    color: #537089;
  }
}

.bottomP {
  height: 48px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 20px;

  /* Rich Blue Black */
  color: #002240;
}

.cultureButton {
  width: 198px;
  height: 59px;
  display: block;
  margin: 0 auto;

  /* Saleswhale Primary Blue */
  background: #0688fa;
  mix-blend-mode: normal;
  border: 1px solid #0688fa;
  border-radius: 5px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .root {
    padding: 49px 66px 46px 66px;

    .cultureHeader {
      height: 33.42px;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.01em;
    }

    .middleP {
      width: 429px;
      height: 51px;
      font-size: 16px;
      line-height: 24px;
      margin: 16.5px auto 45px auto;
    }

    .column {
      width: 183px;
      margin: 0 20.5px;
    }

    .aPerson {
      width: 56px;
      height: 56px;
    }

    .cultureHeader2 {
      font-size: 16px;
      line-height: 24px;
    }

    .cultureP {
      height: 127px;
      font-size: 16px;
      line-height: 24px;
    }

    .bottomP {
      height: 60px;
      width: 381px;
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto 20px auto;
    }

    .cultureButton {
      width: 167px;
      height: 42px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (max-width: 320px) {
  .root {
    padding: 39px 26px 22px 26px;

    .cultureHeader {
      height: 38px;
      font-size: 28px;
      line-height: 110%;
      text-align: left;
    }

    .middleP {
      text-align: left;
      height: 91px;
      width: auto;
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 26px 0;
    }

    .columns {
      flex-direction: column;

      .column {
        margin: 0 0 33px 0;
        width: auto;
        height: auto;
      }

      .aPerson {
        width: 56px;
        height: 56px;
      }

      .cultureHeader2 {
        font-size: 16px;
        line-height: 24px;
        margin: 8px 0 10px 0;
        width: auto;
        height: auto;
      }

      .cultureP {
        width: auto;
        height: 92px;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
      }
    }

    .bottomP {
      height: 80px;
      width: auto;
      font-size: 16px;
      line-height: 24px;
    }

    .cultureButton {
      width: 272px;
      height: 49px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
