.root {
  background-color: #f4f4f4;
}

.bottomFooter {
  display: flex;
  justify-content: space-between;
}

.bottomFooter {
  padding: 60px 118px 0px 118px;
}

.bottomFooterP {
  padding: 0 118px;
}

.bottomFooterHeaders {
  display: flex;
}

.bottomFooterHeader {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  /* Rich Blue Black */
  color: #002240;

  &:first-of-type {
    margin-right: 30px;
  }
}

.footerIcon {
  margin-right: 20px;

  &:nth-of-type(3) {
    margin-right: 0px;
  }
}

.footerWaves {
  margin-top: 32px;
  width: 100%;
}

@media (max-width: 768px) {
  .bottomFooter {
    padding: 30px 59px 0px 59px;
  }

  .bottomFooterP {
    padding: 0 59px;
  }

  .bottomFooterHeader {
    font-size: 16px;
    line-height: 14px;

    &:first-of-type {
      margin-right: 12px;
    }
  }

  .footerIcon {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 320px) {
  .root {
    padding: 40px 0 0 0;
  }

  .bottomFooter {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .bottomFooterIcons,
  .bottomFooterHeaders {
    margin: 0 auto;
  }

  .bottomFooterHeaders {
    display: flex;
    flex-direction: column;
  }

  .bottomFooterHeader {
    font-size: 16px;
    line-height: 32px;
    margin: 0;

    &:first-of-type {
      margin: 0px;
    }
  }

  .bottomFooterP {
    font-size: 14px;
    line-height: 32px;
    padding: 0;
    text-align: center;
  }

  .footerIcon {
    width: 26px;
    height: 26px;
    margin-right: 18px;
    margin-bottom: 15px;
  }
}
