.bottomFooter {
  display: flex;
  justify-content: space-between;
}

.bottomFooter {
  padding: 60px 118px 0px 118px;
}

.bottomFooterP {
  padding: 0 118px;
}

.bottomFooterHeaders {
  display: flex;
}

.bottomFooterHeader {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  /* Rich Blue Black */
  color: #002240;

  &:first-of-type {
    margin-right: 30px;
  }
}

.footerIcon {
  margin-right: 20px;

  &:nth-of-type(3) {
    margin-right: 00px;
  }
}

.footerWaves {
  margin-top: 32px;
  width: 100%;
}
